@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap');
html body{
    background-color: #5fcb73;
}
html{
    height: 100vh;
}
.navbar-brand{
    margin:0 2rem;
}

.container-page-rule{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* .container-page-select{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
} */

.home{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home > h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
}
.page-rule{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    border: 5px solid #258f2e;
    border-radius: 30px;
    background-color: #96e967;
    padding: 3vw;
}
.logo{
    padding: 3vw 0vw;
}
.logo > img{
    width: 8vw;
}
.user-form{
    width: 25vw;
}

.show-name{

    border-radius: 10px;
}
.user-name{
    padding-left: 1rem;
}
.user-form, .btn-start, .yourteam, .text-result, .botTeam, .win-result , .btn{
    font-family: 'Kanit', sans-serif;
}
.win-result{
    font-size: 8vw;
}

.card{
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
.team{

    border: 5px solid red;
    border-radius: 30px;
}

.char{

    height: 30vh;
    

}
.next{

    border-radius: 30px;
    border: 3.5px solid #258f2e;
    background-color: #96e967;
    font-family: 'Kanit', sans-serif;
}

.btn-start{
    padding: 0.5vw 5vw;
    border-radius: 30px;
    border: 3.5px solid #258f2e;
}
.select-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.head-size{
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
}

.normal-text-size{
    font-size: 2vw;
}

/* ----------------------------------------------------- */
.choose-red{
    padding: 1rem 0 0 2rem;
}
.team-red{
    display: flex;
}
.team-red-reverse{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 2rem;
}
.pic-team{
    display: flex;
}
.pic-team2{
    display: flex;

}

.card-group{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2vw;
}

/* .card-element{
    background-color: #797979;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
} */

.card{
    background-color: #5fcb73;
    border: none;
    height: 100%;
}
/* .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797979;
} */
.xo-table{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.table-block{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 20%;
}
table, td, tr {
    border: 5px solid #5fcb73 ;
    background-color: #96e967;
  }

tr{
    height: 5vw;
}

.img-team{
    height: 8vw;
}

.all_element{
    display: flex;
    column-gap: 2vw;
    justify-content: center;  
}

.yourteam {
    margin-top: 5vh;
    text-align: center;
}


.next{
    display: block;
    margin: auto;
    text-align: center;
    height: 6vh;
    width: 10vw;
    margin-top: 8vh;
    border-radius: 12px;
    font-size: 3vh;
}

.gard-name{
    display: flex;
    text-align: center;
    background-color: #adadad;
    height: 3vh;
    border-bottom: solid;
    border-color: black;
    font-size: 10pt;
    justify-content: center;
}

.pic{
    width: 12vw;
}

.neutral{
    width: 6vw;
    
}

.battle, .win{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.battle-box, .win-box{
    width: 60vw;
    height: 50vh;
    background-color: #96e967;
    border-radius: 20px;
   
}
.card-battle{
    width: 10vw;

}
.battle{
    align-items: center;
    justify-content: center;
}
.battle-box > div{
    display: flex;
    
}
.card-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    table{
        border-collapse: collapse;
        width: 30%;
    }
    tr{
        height: 8vw;
    }
    .neutral{
        width: 8vw;
    }
    .img-team{
        height: 15vw;
    }
}

@media (max-width: 575px) {
    .card-group{
        display: inline-block;
        flex-wrap: nowrap;
        gap: 2vw;
    }
}
