@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html body{
    background-color: #5fcb73;
}
.home{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home > h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5vw;
}
.logo{
    padding: 3vw 0vw;
}
.logo > img{
    width: 8vw;
}
.user-form{
    width: 25vw;
}
