.home {
    text-align: center;
    margin-top: 2vw;
}
.team{
    padding-top: 20vh;
}
.card{
    width: 10vw;
    height: 30vh;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.char{
    width: 10vw;
    height: 30vh;
}
.choose-red{
    padding-top: 10vh;
}
.flag{
    width: 2vw;
    height: 3vh;
}
.neutral{
    width: 30px;
    height: 30px;  
}
.gard-group{
    display: flex;
    flex-direction: row;
}
.gard-element{
    width: 5vw;
    height: 15vh;
    border: 2px solid;
    background-color: #494949;
    margin-left: 50px;
}

.gard-element:hover{
    transform: scale(1.5);
    cursor: pointer;
}

/*--table--*/
.table-block{
    width: 10vw;
    height: 15vh;
    color: black;
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
    border: solid 1px black;
    text-align: center;
  }

.all_element{
    margin-top: 8vh;
    display: flex;
    column-gap: 5vw;
    justify-content: center;  
}

.yourteam {
    margin-top: 5vh;
    text-align: center;
}

.wind {
    height: 50vh;
    width: 20vw;
    background-color: #e1e1e1;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
}

.wind_pic{
    display: block;
    margin: auto;
}

.fire {
    height: 50vh;
    width: 20vw;
    background-color: #e1e1e1;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
}

.fire_pic{
    display: block;
    margin: auto;
}

.earth {
    height: 50vh;
    width: 20vw;
    background-color: #e1e1e1;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
}

.earth_pic{
    display: block;
    margin: auto;
}

.water {
    height: 50vh;
    width: 20vw;
    background-color: #e1e1e1;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
}

.water_pic{
    display: block;
    margin: auto;
}

.element_name{
    text-align: center;
    background-color: #adadad;
    height: 5vh;
    border-bottom: solid;
    border-color: black;
}

.next{
    display: block;
    margin: auto;
    text-align: center;
    height: 6vh;
    width: 10vw;
    margin-top: 8vh;
    border-radius: 12px;
    font-size: 3vh;
}

.gard-name{
    display: flex;
    text-align: center;
    background-color: #adadad;
    height: 3vh;
    border-bottom: solid;
    border-color: black;
    font-size: 10pt;
    justify-content: center;
}

.pic{
    width: 80px;
    height: 80px;
}
