@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap');
html body{
    background-color: #5fcb73;
}
.container-page-rule{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container-page-select{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.home{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home > h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
}
.page-rule{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    border: 5px solid #258f2e;
    border-radius: 30px;
    background-color: #96e967;
    padding: 3vw;
}
.logo{
    padding: 3vw 0vw;
}
.logo > img{
    width: 8vw;
}
.user-form{
    width: 25vw;
}

.card{
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
.team{

    border: 5px solid red;
    border-radius: 30px;
}

.char{
    width: 10vw;
    height: 30vh;
    

}

.btn-start{
    padding: 0.5vw 5vw;
    border-radius: 30px;
    border: 3.5px solid #258f2e;
}
.select-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.head-size{
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
}